.title {
    font-size: 100px;
    font-weight: 600;
}
@media screen and (max-width: 370px) {
    .title {
        font-size: 50px;
    }
}

.storeIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.storeIcons > a {
    margin: 5px;
}

.contacto {
    font-size: 40px;
}

.social-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    flex-wrap: wrap;
}

.social-icon {
    display: block;
    height: 150px;
    width: 200px;
    margin-bottom: 20px;
    fill: #FFFFFF;
}
@media screen and (max-width: 600px) {
    .social-icon {
        height: 80px;
    }
}

#contacto p.largest {
    font-size: 30px;
}
